.cabecera_principal {
    display: flex;
    align-items: center;
}

.cabecera_lateral_banner {
    width: 100%;
}

.cabecera_lateral_banner img{
    width: 100%;
    height: 100px;
    border-radius: 15px;
}

.cabe_logo {
    width: 200px;
    height: 100px;
}

.contenedor_principal {
    display: flex;
    align-items: flex-start;
}

nav {
    float: left;
    width: 145px;
    height: 450px;
    background-color: rgb(210, 235, 226);
    border-radius: 15px;
    padding: 10px;
}
nav ul { /*estilo para los titulos verdes*/
    list-style: none;
    padding: 5px;
    margin: 5px 0;
    height: 20px;
    background-color: rgb(102, 145, 145);
    border-radius: 15px;
    text-align: center;
}
nav ul li a { /*primer texto antes de pasar el cursor*/
    display: block;
    color: #000000;
    text-decoration: none;
    text-align: center;

}

nav ul li a:hover { /*segundo texto al pasar el cursor*/
    width: 100%;
    height: 20px;
    background-color: rgb(226, 236, 233); 
    border-radius: 15px;
    text-align: center;    
}

.section_centro {
    height: 450px;
    margin-left: 170px;
    flex-grow: 1;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(226, 236, 233);
}
.h1 {   
    text-align: center;
    text-decoration: underline;
}

.section_centro div { 
    font-size: 10px;
    text-align: center;
    margin: 15px;
    
}
.section_centro div img {
    width: 30em;
    border-radius: 15px;
}

.pie_pag{
    border: solid;
    width: 100%;
    height: 10px;
}