/* ESTILOS PARA CABECERA */
.cabecera_principal {
    display: flex;
    align-items: center;
}

.cabecera_lateral_banner {
    width: 100%;
}

.cabecera_lateral_banner img{
    width: 100%;
    height: 100px;
    border-radius: 15px;
}

.cabe_logo {
    width: 200px;
    height: 100px;
}
/* ESTILOS PARA EL CENTRO DE LA PAGINA */
.contenedor_principal {
    display: flex;
    align-items: flex-start;
}
/* ESTILO PARA EL NAV (MENU LATERAL) */
.menu_lateral{
    float: left;
    width: 145px;
    height: 450px;
    background-color: rgb(210, 235, 226);
    border-radius: 15px;
    padding: 10px;
}
/*estilo para los titulos verdes*/
.boton { 
    list-style: none;
    padding: 5px;
    margin: 5px 0;
    height: 20px;
    background-color: rgb(102, 145, 145);
    border-radius: 15px;
    text-align: center;
}
/*primer texto antes de pasar el cursor*/
.efecto1 { 
    display: block;
    color: #000000;
    text-decoration: none;
    text-align: center;
    margin-top: -7px;
    

}
/*segundo texto al pasar el cursor*/
a:hover { 
    width: 100%;
    height: 20px;
    background-color: rgb(226, 236, 233); 
    border-radius: 15px;
    text-align: center; 
    margin-top: -7px;  
     
}

/* ESTILO PARA EL SECTION - MENU CENTRAL */
.section_centro {
    height: 450px;
    margin-left: 170px;
    flex-grow: 1;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(226, 236, 233);
    justify-content: center;
    align-items: center;
    display: flex; /*va a permitir convertir el contenedor en uno flexible*/
    flex-direction: column; /* permite cambiar la dirección a column */
    
}
.section_centro_mision {
    height: 450px;
    margin-left: 170px;
    flex-grow: 1;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(226, 236, 233);
    justify-content: center;
    align-items: center;
}
.h1 {   
    text-align: center;
    text-decoration: underline;
}

.text_centrado { 
    font-size: 10px;
    text-align: center;
    margin: 15px;
    
}

.section_centro div img {
    width: 30em;
    border-radius: 15px;
}

/* ESTILO PARA EL PIE DE PAGINA */
.pie_pag{
    background-color: rgb(210, 235, 226);
    border-radius: 15px;
    width: 100%;
    height: 40px;
    padding: 2px;
    margin-top: 5px;
    display: flex;
}

.pie_pag div img {
    width: 4em;
    margin-left: 15px;    
}
.dire {
    text-align: center;
    width: 400em ; /*falta saber como centrar la direccion en pie de pagina*/
    height: 5px;
    padding: 5px;
    font-size: 9px;
}
.copyrigth {
    text-align: right;
    width: 100%;
    height: 5px;
    padding: 5px;
    font-size: 7px;
}
.h2 {   
    text-align: center;
    text-decoration: underline;
}



/* ESTILOS PARA LA PAG. PRODUCTOS */

.section_centro_productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* ****** */
    margin-left: 170px;
    flex-grow: 1;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(226, 236, 233);
}
.articulo {
    width: 30%;
    margin: 5px;
}

.articulo img {
    max-width: 100%;
    height: auto;
}

.articulo div {
    width: 100%;
    height: 30px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

.articulo p {
    margin-top: 5px;
    font-size: 9px;
    text-align: center;
}
.precio {
    width: 100%;
    font-size: 4px;
    color: red;
    font-weight: bold;   
}

.h3 {   
    text-align: center;
    text-decoration: underline;
}

/* ESTILOS PARA LA PAG. REGISTRO */

.ingreso_datos {
    display: block;
    width: 400px;
    height: 340px;
    padding: 5px;
    margin: 5px auto;
    background-color: rgb(199, 216, 210);
    border-radius: 15px;
}

.ingreso_datos div {
    text-align: center;
    margin-top: 10px;
    font-size: 13;
}

.form {
    margin-top: 15px;
    text-align: center;
}

.form label{
	font-size: 14px;
	font-weight: bold;
	display: block;
    text-align: left;
    margin-left: 50px;
}
.form input{
	display: block;
	border: none;
    width: 300px;
    text-align: center;
    border-radius: 15px;
    margin-left:50px;
    margin-bottom: 2px;
}

.form input[type="submit"]{
	border-radius: 15px;
	background-color: rgb(102, 145, 145);
	color: white;
	font-size: 8px;
	text-transform: uppercase; /*convierte el mayuscula el texto*/
	font-weight: bold;
	padding: 5px 5px;
	width: 250px;
	margin: 2px auto;
	cursor: pointer;
}
/* armando css para submenu para perfil */
.nav_barra {
    display: block;
    width: 320px;
    height: 15px;
    justify-content: center;
    border-radius: 15px;
    padding: 9px;
    background-color: rgb(226, 236, 233);
    display: flex;
    
}
.nav_ul1 {
    width: 100px;
    margin-top: -9px;
    margin-left: 2px;
}
.nav_ul2 {
    width: 100px;
    margin-top: -9px;
    margin-left: 2px;
}
.nav_ul3 {
    width: 100px;
    margin-top: -9px;
    margin-left: 2px;
}

/* Armando bloque para pedido */
.pedido{
    display: flex;
    text-align: right;
    font-size: 10px;
}
.t1 {
    background-color: white;
    border:solid 1px;
    padding: 5px;
}
/* Armando datos para contactenos */
.contactenos {
    display: flex;
}
.icono {
    width: 20px;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
